@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #212626;
  --orange-helmet: #d94032;
  --green-helmet: #0df205;
  --green-helmet2: #0abf04;
  --yellow: #d9d166;
  --lilac: #b6caf2;
  --orange: #faaa39;
  --notwhite: #f5f3ff;

  --main-font: "Assistant", sans-serif;
  --codey-font: "IBM Plex Mono", monospace;

  background: var(--notwhite);
}

body {
  margin: 0;
  font-family: -apple-system, var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #f5f3ff;
}

.navigation {
  margin: 1rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--codey-font);
}

.navigation > a {
  margin-left: 5px;
}

.main-photo-container {
  display: flex;
  flex-direction: column;
}

.main-photo {
  width: 100%;
  clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
}

.reflection {
  display: none;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.intro-text,
.sub-text {
  padding-right: 20px;
  display: flex;
  justify-content: end;
}

.intro-text {
  flex-direction: column;
  align-items: end;
}

.intro-text > h1 {
  background: var(--dark);
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
}

svg {
  stroke-width: 15px;
}

.footer {
  display: flex;
  justify-content: center;
}

.icon-link {
  color: var(--dark);
  margin: 5px;
  font-size: 1.5rem;
}

.changeDescriptionBtn {
  transition: transform 0.5s ease-in-out;
}

.changeDescriptionBtn:hover {
  transform: rotate(360deg);
}

.page {
  min-height: 80vh;
}

.border {
  border: 1px solid red;
}

.project {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title,
.project-links > a {
  font-weight: 600;
  background: linear-gradient(to top, var(--orange) 35%, transparent 35%);
}

.project-title {
  font-size: 1.5rem;
  margin: 10px;
}

.project > p {
  width: 85vw;
  margin: 10px;
}

.project-hr {
  margin: 10px 0 40px;
  width: 75vw;
  height: 3px;
  background: linear-gradient(to right, var(--orange), var(--orange-helmet));
  border: none;
}

@media (min-width: 480px) {
  /* Home */
  .home {
    display: flex;
    flex-direction: column;
  }
  .intro-text {
    order: 1;
    flex-direction: row;
  }
  .intro-text > h1 {
    margin-right: 2px;
  }
  .sub-text {
    order: 2;
  }
  .main-photo-container {
    order: 3;
  }
  .main-photo {
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
  }
  .reflection {
    display: block;
    transform: scaleY(-1);
    transform-origin: center;
    mask-image: radial-gradient(
      circle at bottom,
      var(--notwhite),
      transparent 55%
    );
  }

  /* projects */
  .project-photo-anchor {
    width: 100vw;
    height: 300px;
    overflow: hidden;
  }
  .project-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 610px) {
  .intro-text > h1 {
    font-size: 2.5rem;
  }
  .intro-text > p,
  .sub-text > p {
    font-size: 1.5rem;
  }
  .reflection {
    display: none;
  }
}

@media (min-width: 768px) {
  /* Home */
  .home {
    background: var(--dark);
  }
  .intro-text > h1 {
    font-size: 3rem;
  }
  .intro-text > p,
  .sub-text > p {
    font-size: 2rem;
  }
  .main-photo {
    filter: grayscale(100%);
  }
  .intro-text > h1 {
    background: var(--green-helmet2);
  }
  .intro-text > p,
  .sub-text {
    color: var(--green-helmet2);
  }
  /* Navigation */
  .nav-link,
  .nav-link > path {
    color: var(--orange-helmet);
    stroke: var(--orange-helmet);
  }

  /* projects */
  .project-photo-anchor, .project>p {
    width: 75vw;
  }
  .project-hr {
    width: 50vw;
  }
}

@media (min-width: 900px) {
  .home {
    background: var(--notwhite);
  }
  .intro-text > h1 {
    font-size: 3.2rem;
  }
  .intro-text > p {
    font-size: 2.2rem;
  }
  .sub-text > p {
    font-size: 2rem;
  }
  .main-photo {
    filter: grayscale(0%);
    width: 75vw;
  }
  .main-photo-container {
    background: repeating-linear-gradient(
      0deg,
      var(--dark),
      var(--dark) 10px,
      var(--notwhite) 10px,
      var(--notwhite) 20px
    );
  }
  .intro-text > h1 {
    background: var(--dark);
  }
  .intro-text > p,
  .sub-text {
    color: var(--dark);
  }
  /* Navigation */
  .nav-link,
  .nav-link > path {
    color: var(--dark);
    stroke: var(--dark);
  }
}

@media (min-width: 1024px) {
  /* home */
  .main-photo-container {
    display: none;
  }
  .home {
    background-image: url("../public/images/tvc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    justify-content: space-between;
  }
  .intro-text > h1 {
    font-size: 5.2rem;
    margin-right: 0px;
  }
  .intro-text {
    flex-direction: column;
  }
  .intro-text,
  .sub-text {
    padding-right: 0px;
  }
  .intro-text > p,
  .sub-text > p {
    background: var(--dark);
    color: var(--notwhite);
  }
   /* projects */
   .project-photo-anchor, .project>p  {
    width: 65vw;
  }  
  .project-hr {
    width: 45vw;
  }
}

@media (min-width: 1280px) {
  .intro-text > h1 {
    font-weight: bold;
    font-size: 4rem;
  }
  .intro-text > p,
  .sub-text > p {
    font-size: 1.5rem;
  }
  .project-photo-anchor, .project>p  {
    width: 45vw;
  }  
  .project-hr {
    width: 30vw;
  }
}
