@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #212626;
  --orange-helmet: #d94032;
  --green-helmet: #0df205;
  --green-helmet2: #0abf04;
  --yellow: #d9d166;
  --lilac: #b6caf2;
  --orange: #faaa39;

  --main-font: "Assistant", sans-serif;
  --codey-font: "IBM Plex Mono", monospace;
}

body {
  margin: 0;
  font-family: -apple-system, var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #f5f3ff;
}

.navigation {
  margin: 1rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--codey-font);
}

.navigation > a {
  margin-left: 5px;
}

.main-photo {
  width: 100%;
  /* max-width: 400px; Adjust this to your desired width */
  height: auto;
  clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
}

.intro-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.intro-text > h1 {
  background: var(--dark);
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.icon-link {
  color: var(--dark);
  margin: 5px;
  font-size: 1.5rem;
}

.page {
  min-height: 80vh;
}

.border {
  border: 1px solid red;
}

.project {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title,
.project-links > a {
  font-weight: 600;
  background: linear-gradient(to top, var(--orange) 35%, transparent 35%);
}

.project-title {
  font-size: 1.5rem;
  margin: 10px;
}

.project>p {
  width: 85vw;
  margin: 10px;
}

.project-hr {
  margin: 10px 0 40px;
  width: 75vw;
  height: 3px;
  background: linear-gradient(to right, var(--orange), var(--orange-helmet));
  border: none;
}
